.award{
    display: flex;
    background-color: rgba(192, 192, 192, 0.6);
    border-radius: 8px;
    width: 470px;
    height: 220px;
    margin: 10px;
    padding: 10px;
    cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur), auto;
}
.award img{
    width: 200px;
    height: 200px;
    border-radius: 5px;
    margin: 10px;
    cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur), auto;
}
.award p, a{
    font-size: 23px;
    margin: 7.5px;
}
.award h3{
    font-size: 23px;
    margin: 6px;
    cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur), auto;
}