[type="tag"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 35px;
    background-color: rgba(223, 223, 223, 0.74);
    border-radius: 6px;
    border: 2px;
    user-select: none;
    cursor: url(https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/cursor/normal.cur), auto;;
}
[type="tag"]:hover{
    background-color:rgba(245, 245, 245, 0.74);
}